n8n_whatsapp_ai_workflow.json
{
  "name": "AI WhatsApp Customer Service",
  "nodes": [
    {
      "parameters": {},
      "name": "Start",
      "type": "n8n-nodes-base.start",
      "typeVersion": 1,
      "position": [
        250,
        300
      ]
    },
    {
      "parameters": {
        "path": "d75d199c-60c2-4840-a065-d648788089bb",
        "options": {}
      },
      "name": "Receive WhatsApp Message",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        450,
        300
      ],
      "webhookId": "d75d199c-60c2-4840-a065-d648788089bb"
    },
    {
      "parameters": {
        "url": "https://rajacuttinglaser.com/api/ai-chat",
        "options": {},
        "bodyParameters": {
          "parameters": [
            {
              "name": "message",
              "value": "={{$json.body.text}}"
            },
            {
              "name": "whatsappNumber",
              "value": "={{$json.body.from}}"
            }
          ]
        }
      },
      "name": "Get AI Response",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [
        650,
        300
      ]
    },
    {
      "parameters": {
        "url": "https://app.notif.my.id/api/v2/send-message",
        "options": {},
        "bodyParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{$credentials.MyWhatsAppAPI.apiKey}}"
            },
            {
              "name": "mtype",
              "value": "text"
            },
            {
              "name": "receiver",
              "value": "={{$node[\"Receive WhatsApp Message\"].json.body.from}}"
            },
            {
              "name": "text",
              "value": "={{$json.reply}}"
            }
          ]
        }
      },
      "name": "Send WhatsApp Reply",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [
        850,
        300
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "1",
          "name": "MyWhatsAppAPI"
        }
      }
    }
  ],
  "connections": {
    "Receive WhatsApp Message": {
      "main": [
        [
          {
            "node": "Get AI Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get AI Response": {
      "main": [
        [
          {
            "node": "Send WhatsApp Reply",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}